schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DocumentoDeIdentidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodigoUnicoIdentificacion" >
          <xs:simpleType>
            <xs:restriction  base="xs:positiveInteger">
              <xs:totalDigits value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CaracterVerificacion">
          <xs:simpleType>
            <xs:restriction  base="xs:positiveInteger">
              <xs:totalDigits value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PrimerApellido">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SegundoApellido">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Nombre">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FechaNacimiento">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="\d{2} \d{2} \d{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Ubigeo">
          <xs:simpleType>
            <xs:restriction  base="xs:positiveInteger">
              <xs:totalDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Sexo">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="M|F"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EstadoCivil">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="C|S"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FechaInscripcion">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="\d{2} \d{2} \d{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FechaEmision">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="\d{2} \d{2} \d{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FechaCaducidad">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="\d{2} \d{2} \d{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Departamento">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Provincia">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Distrito">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Direccion">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="[A-Za-z]+[ ]*[A-Za-z]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DonacionOrganos">
          <xs:simpleType>
            <xs:restriction  base="xs:string">
              <xs:pattern value="SI|NO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GrupoVotacion">
          <xs:simpleType>
            <xs:restriction  base="xs:positiveInteger">
              <xs:totalDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
